<div class="title-container">
    <h1>Login and get Taggin'!!</h1>
</div>

<%= form_tag('/login', method: :post) do %>
    <div class="form-group">
        <div class="login">
            <%= label_tag :name %> :
            <%= text_field_tag :name %>
        </div>

        <div class="login">
            <%= label_tag :password %> :
            <%= password_field_tag :password %>
        </div>
    </div>

    <%= submit_tag "Login", class: "btn btn-primary" %>
<% end %> 



