<%= form_tag(login_path, method: :post) do %>
    <div class="form-group">
        <div class="thumbnail">
            <div class="title-container">
                <h1>Login to access your account and start selling!</h1>
            </div>
                <%= render 'flash_message' %>

                <div class="login">
                    <%= label_tag :name %> :
                    <%= text_field_tag :name %>

                    <%= label_tag :password %> :
                    <%= password_field_tag :password %>
                </div>
        <%= submit_tag "Login", class: "btn btn-success btn-lg" %>
        <% end %> 
        </div>
    </div>   