<%= render partial: "shared/errors" %>

<%= form_for(@user) do |f| %>
    <div class="form-group">
        <div class="thumbnail">
            <div class="title-container">
                <h1>Sign Up and get Tagging!</h1>
            </div>
            <div class="signup">
                <%= f.label :name %> :
                <%= f.text_field :name, class: "form-control" %>
        
                <%= f.label :email %> :
                <%= f.email_field :email, class: "form-control" %>
        
                <%= f.label :password %> :
                <%= f.password_field :password, class: "form-control" %>
        
                <%= f.label :location %> :
                <%= f.text_field :location, class: "form-control" %>
            </div>
            <%= f.submit "Sign Up", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>