<% if current_user == @user %>
    <div class="title-container">
        <div class="thumbnail">
            <%= render 'sessions/flash_message' %>
                <h1>Welcome to your Dashboard <%= @user.name %></h1>
                <h3>Items Currently Listed for Sale</h3>
        </div>
            <%= link_to "Create a Listing", new_user_item_path(@user), class: "btn btn-success btn-lg" %>
    </div>
<% else %>
    <div class="title-container">
        <div class="thumbnail">
            <h1><%= @user.name %>'s Items Listed for Sale</h1>
        </div>
    </div> 
<% end %>
                
        <div class="items">
            <% @user.items.each do |item| %>
                <div class="item">
                    <div class="thumbnail">
                        <div class="caption">
                            <%= image_present?(item)%>
                                <p>
                                    <%= link_to item.name, user_item_path(@user, item) %> - <%= item.category.name %> - <%= item.description %> - $<%= item.price%> - 
                                    Condition:
                                    <%= item_condition(item) %>
                                </p>
                        </div>
                    </div>
                </div>    
            <% end %>
        </div>    


