<% if current_user == @user %>
    <div class="title-container">
        <div class="thumbnail">
            <h1>Welcome to your Dashboard <%= @user.name %></h1>
        </div>
            <%= link_to "Create a Listing", new_user_item_path(@user), class: "btn btn-success btn-lg" %>
    </div>
        <div class="title-container">
            <div class="thumbnail">
                <h3>Items Currently Listed for Sale</h3>
            </div>
        </div>
        <div class="items">
            <% @user.items.each do |item| %>
                <div class="item">
                    <div class="thumbnail">
                        <div class="caption">
                            <% if item.image.attached? %>
                                <%= image_tag(item.image, style:'width:30%') %>
                            <% end %>
                                <p>
                                    <%= link_to item.name, user_item_path(@user, item) %> - <%= item.category.name %> - <%= item.description %> - $<%= item.price%> - 
                                    Condition:
                                    <% if item.new == true %>
                                        New
                                    <% else %>
                                        Used
                                    <% end %>
                                </p>
                        </div>
                    </div>
                </div>    
            <% end %>
        </div>    
<% else %>
    <div class="title-container">
        <div class="thumbnail">
            <h1><%= @user.name %>'s Items Listed for Sale</h1>
        </div>
    </div>       
        <div class="items">
            <% @user.items.each do |item| %>
                <div class="item">
                    <div class="thumbnail">
                        <div class="caption">
                            <% if item.image.attached? %>
                                <%= image_tag(item.image, style:'width:30%') %>
                                <% end %>
                            <p><%= link_to item.name, user_item_path(@user, item) %> - <%= item.category.name %> - $<%= item.price%>
                            Condition:
                            <% if item.new == true %>
                                New
                            <% else %>
                                Used
                            <% end %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
<% end %>

