<div class="items">
        <% @items.each do |item| %> 
            <div class="item">
                <div class="thumbnail">
                    <div class="caption">
                        <%= image_present?(item)%>
                        <p>
                            <%= link_to item.name, item_path(item) %> - <%= time_ago_in_words(item.created_at) %> ago - <%= truncate(item.description, length: 25) %>
                            - $<%= item.price %> - <%= link_to item.category_name, category_path(item.category) %>
                            Condition: <%= item_condition(item) %>
                        </p>
                    </div>
                </div>
            </div> 
        <% end %>
    </div>