<div class="title-container">
   <div class="thumbnail">
      <h1>Shop All Items</h1>
   </div>
      <div class="thumbnail">
         <h4><%= sortable "name", "Sort by Name" %></h4>
      </div>
      <div class="thumbnail">
         <h4><%= sortable "price", "Sort by Price" %></h4>
      </div>
      <div class="thumbnail">
         <h4><%= sortable "created_at", "Sort by Newest" %></h4>
      </div>
</div>
   
   <div class="items">
      <% @items.each do |item| %>
         <div class="item">
            <div class="thumbnail">
               <div class="caption">
                  <% if item.image.attached? %>
                  <%= image_tag(item.image, style:'width:30%') %>
                  <% end %>
                  <p>
                     <%= link_to item.name, item_path(item) %> - <%= time_ago_in_words(item.created_at) %> ago - <%= truncate(item.description, length: 25) %>
                     - $<%= item.price %> - <%= link_to item.category_name, category_path(item.category) %> 
                     - <p>Condition: <%= item_condition(item) %></p>
                  </p>
               </div>
            </div>
         </div>
      <% end %>
   </div>
            

