<h1>Items for Sale Currently</h1>

    <% @items.each do |item| %>

    <%= link_to item.name, item_path(item) %> - <%= time_ago_in_words(item.created_at) %> - <%= truncate(item.description, length: 15) %>
 - $<%= item.price %> - <%= item.category_name %><br/>
    <% end %>
