<div class="title-container">
    <div class="thumbnail">
        <%= render 'sessions/flash_message' %>
        <h2><%= @item.name %></h2>
        <p>Listed: <%= time_ago_in_words(@item.created_at) %> ago</p>
    </div>        
        <div class="thumbnail">
            <h4><%= link_to "Similar Items for" , category_path(@item.category) %><%= logo %></h4> 
        </div>
</div>
        <%= image_present?(@item)%>
    <div class="item">
        <div class="thumbnail">
            <div class="caption">
                <p>Item Description: <%= @item.description %></p>
                <p>Price: $<%= @item.price %></p>
                <p>Category: <%= @item.category_name %></p>               
                <p>Condition: <%= item_condition(@item) %></p>
            
                <%= render_item %>
                
                <%= render 'items/back_button' %>

            </div>
        </div>
    </div>




