<div class="title-container">
    <div class="thumbnail">
        <h1>Item Category Power Sellers</h1>
        <p>Listed below are the Top Sellers in all categories. Click on a Seller and view all of the items they have listed across Tag<%= logo %></p>
    </div>
        <div class="thumbnail">
            <h4><%= sortable "name", "Sort by Name" %></h4>
        </div>
</div>

    <div class="categories">
        <% @categories.each do |category| %>
            <div class="item">
                <div class="thumbnail">
                    <div class="caption">
                    <p><%= link_to category.name, category_path(category) %></p>
                        <p>Top Sellers: <% category.users.uniq.each do |user| %></p>
                            <p><%= link_to user.name, user_path(user) %> (<%= category.items.where(user: user).count %>)</p>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>