 <div class="title-container">
    <div class="thumbnail">
        <h1>Category: <%= @category.name %></h1>
    </div>
</div>

<div class="items">
    <% @category.items.each do |item| %>
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <%= image_present?(item) %>
                    <p><%= link_to item.name, item_path(item) %> - Seller: <%= link_to item.user.name, user_path(item.user) %> - $<%= item.price %> - <%= truncate(item.description, length: 30) %> - <%= item_condition(item) %> - Item Listed: <%= time_ago_in_words(item.created_at) %> ago</p>
                </div>
            </div>
        </div>
    <% end %>
</div>