<!DOCTYPE html>
<html lang="en">
  <head> 
    <title>TagSale</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      <%= favicon_link_tag asset_path('Tag-Sale Favicon.png'), :rel => 'icon', :type => "image/png" %>
  </head>

  <body>
    <header class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar header">
            <div class="nav navbar-nav navbar right">
              <%= link_to 'Browse by Categories', categories_path, class: "btn btn-primary" %>
              <%= link_to 'All Items for Sale', items_path, class: "btn btn-primary" %>
              <% if !logged_in? %>
                <%= link_to 'Sign Up', signup_path, class: "btn btn-primary" %>
                <%= link_to 'Sign in', login_path, class: "btn btn-primary" %>
                <%= link_to "Login via Facebook", "/auth/facebook", class: "btn btn-primary" %>
              <% else %>
                <%= link_to "My DashBoard", user_path(current_user), class: "btn btn-primary" %>
                <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>      
        <%= yield %>
    </section>
  </body>
</html>
