<!DOCTYPE html>
<html lang="en">
  <head> 
    <title>TagSale</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      <%= favicon_link_tag asset_path('tagsalelogo1.png'), :rel => 'icon', :type => "image/png" %>
  </head>

  <body>
        
          <div class="topnav">            
              <div class="nav-link" >
                <a href="/"><%=image_tag "tagsalelogo2.png", height:"70"%></a>
              </div>
                <%= link_to 'Browse by Categories', categories_path, class: "nav-link" %>
                <%= link_to 'All Items for Sale', items_path, class: "nav-link" %>

                <%= render 'layouts/navbar' %>

                <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
                  <div class="input-group">  
                    <%= search_field_tag :search, params[:search], placeholder: "Search Items for Sale", class: "form-control" %>  
                      <div class="input-group-btn">  
                        <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil %>  
                      </div>  
                  </div>  
                <% end %>
          </div>

    <section class="container">

        <%= yield %>
    </section>
  </body>
</html>