<!DOCTYPE html>
<html>
  <head>
    <title>TagSale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
            <% if !logged_in? %>
              <%= button_to 'Sign Up', new_user_path %> 
              <%= button_to 'Sign in', login_path %>
            <% else %>
              <%= button_to "Log Out", logout_path %>
              <%= button_to "My Dashboard", user_items_path(session[:user_id]) %>
            <% end %>
          
    <%= yield %>
  </body>
</html>
